<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Neues Buch hinzufügen</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="nameOfBook">Name</label>
        <input id="nameOfBook" class="form-control">
        <label for="isbn">ISBN</label>
        <input id="isbn" class="form-control">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>
<button type="button" class="btn btn-outline-primary" (click)="open(content)">Buch hinzufügen</button>
