<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink>Home</a>
    <ng-template ngbNavContent>
      <app-home></app-home>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>Ausleihen</a>
    <ng-template ngbNavContent>
      <app-borrow></app-borrow>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <a ngbNavLink>Administration</a>
    <ng-template ngbNavContent>
      <app-admin></app-admin>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-3"></div>
