<div class="mt-3">
  <h4>Bücher ausleihen</h4>
  <p>
    Die folgenden Bücher sind in der Firma zum Verleih verfügbar.
  </p>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Autor(en)</th>
      <th scope="col">ISBN</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let book of books$ | async; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ book.name }}</td>
      <td>
        <span *ngIf="book.authors.length === 0">
          nicht bekannt
        </span>
        {{ book.authors}}
      </td>
      <td>{{ book.isbn}}</td>
    </tr>
    </tbody>
  </table>
</div>
